<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="CASA, Club d'Astronomie de Signy l'Abbaye ,liste des Manifestations">
<meta name="author" content="ViotSébastien">
<meta Name="keywords" content="caramentoire,astronomie, Signy l'Abbaye,astrosigny,casa-astronomie, manifestation">
<link rel="shortcut icon" href="{{asset('build/images/LogoSimplebleu.png')}}" type="image/x-icon" />
<title>Manifestation</title>
{% block stylesheets %}
<!-- Custom fonts for this template -->
<link href="{{asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{asset("build/css/app.css")}}" rel="stylesheet">
{% endblock %}
</head>
    {% block header %}
    {% include 'exsite/menus.html.twig' %}
      <header class="masthead" id="accueil">
        <div class="container d-flex h-100 align-items-center">
          <div class="mx-auto text-center">
            <img src="{{asset('build/images/Logo_blanc.png')}}" alt="Logo_blanc">
            <h2 class="mb-4">MANIFESTATION</h2>
          </div>
        </div>
      </header>
    {% endblock %}
<body>
  {% block body %}
      {% if showmafestation is empty %}
        <div class="card">
          <div class="card-body" >
            <h3 class="card-title">"Pas de Manifestation en cours"</h3>
          </div>
        </div>
      {% else %}
        {% for showmafestations in showmafestation %}
        <section id="astrophotographie" class="transition">
          <img src="{{asset('build/images/LogoSimplebleu.png')}}" alt="">
        </section>
        <!-- Projects Section -->
        <section class="projects-section">
          <div class="container">

            <!-- Featured Astrophotos Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
              <div class="col-xl-6 col-lg-4">
                <div class="text-center text-lg-left">
                  <h2>{{ showmafestations.titre }}</h2>
                  <h3>Du{{ showmafestations.datedebut.date|date('d/m/Y') }} au</h3>
                  <h3>{{ showmafestations.datefin.date|date('d/m/Y') }}</h3>
                  <p class="text-black mb-0">
                    {{ showmafestations.description }}
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-4">
                <img class="img-fluid mb-0 mb-lg-0" src="{{asset('build/images/apollo.jpg')}}" width="606" height="341" alt="">
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <div id="footer">
            {% include 'exsite/footer.html.twig' %}
        </div>
    </body>
    {% endblock %}
</html>
