<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
          {% block title %}
            Astronomie
          {% endblock %}
        </title>
          {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
          {% endblock %}
          {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
          {% endblock %}
    </head>
    <header>
      {% block header %}
          <div id="sidebar">
              {% include 'exsite/menus.html.twig' %}
          </div>
      {% endblock %}
    </header>
    <body>
      {% block body %}
      {% if showmafestation is empty %}
        <div class="card">
          <div class="card-body" >
            <h3 class="card-title">"Pas de Manifestation en cours"</h3>
            <a href="/manifestation/create">
              <button type="button" name="button" class="btn btn-info">Ajouter</button>
            </a>
          </div>
        </div>
      {% else %}
      <a href="/manifestation/create">
        <button type="button" name="button" class="btn btn-info">Ajouter</button>
      </a>
        {% for showmafestations in showmafestation %}
          <div class="card">
            <div class="card-body" >
              <h3 class="card-title">Manifestation {{ showmafestations.datedebut.date|date('d/m/Y H:m') }} à {{ showmafestations.datefin.date|date('d/m/Y H:m') }}</h3>
              <h3 class="card-title">{{ showmafestations.titre }}</h3>
              <p class="card-text">{{ showmafestations.description }}</p>
              <a href="/manifestation/update/{id}"><button type="button" name="button" class="btn btn-warning">Modifier</button></a>
              <a href="/manifestation/delete/{{showmafestations.id}}"><button type="button" name="button" class="btn btn-danger">Supprimer</button></a>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      {% endblock %}
      {% block footer %}
      <footer class="mainfooter" role="contentinfo">
        {% include 'exsite/footer.html.twig' %}
      </footer>
      {% endblock %}
    </body>
</html>
